@import "../../common/stylus/mixin.styl";
.seller-wrapper
  //这个要同时写top和bottom高度才起效
  position absolute
  top 174px
  bottom 0
  left 0
  width 100%
  overflow hidden
  .seller-content
    .info
      padding 18px
      margin 0 18px
      .title
        padding-bottom 18px
        border-1px(rgba(7,17,27,.1))
        .text
          line-height 14px
          font-size 14px
          color rgb(7,17,27)
        .star-wrapper
          padding-top 8px
          font-size 0
          .star
            display inline-block
            vertical-align top
          .rate-count,.seller-count
            display inline-block
            line-height 18px
            font-size 10px
            color rgb(77,85,93)
          .rate-count
            padding 0 12px 0 8px
        .collect
          position absolute
          top 18px
          right 8px
          width 50px
          text-align center
          .icon-favorite
            line-height 24px
            font-size 24px
            color #d4d6d9
            &.active
              color rgb(240,20,20)
          .text
            display block
            font-size 10px
            color rgb(77,85,93)
            line-height 10px
            padding-top 4px
      .remark
        display flex
        .block
          flex 1
          margin-top 18px
          text-align center
          border-right 1px solid rgba(7,17,27,.1)
          &:last-child
            border none
          h2
            font-size 10px
            color rgb(147,153,159)
            line-height 10px
            margin-bottom 4px
          .content
            font-size 10px
            font-weight 200
            color rgb(7,17,27)
            line-height 24px
            .num
              //因为为flex布局设置margin-top不起作用，故用相对定位
              position relative
              top 2px
              font-size 24px

    .activities
      padding-top 18px
      .bulletin
        margin 0 18px
        border-1px(rgba(7,17,27,.1))
        h1
          font-size 14px
          line-height 14px
          color rgb(7,17,27)
        .content
          padding 8px 12px 16px 12px
          font-size 12px
          font-weight 200
          color rgb(240,20,20)
          line-height 24px
    .supports
      margin 0 18px
      .item
        padding 16px
        border-1px(rgba(7,17,27,.1))
        font-size 0
        .iconMap
          width 16px
          height 16px
          vertical-align top
          margin-right 6px
        .text
          font-size 12px
          font-weight 200
          color rgb(7,17,27)
          line-height 16px
    .seller-imgs
      margin 18px
      white-space nowrap
      overflow hidden
      h1
        font-size 14px
        line-height 14px
        margin-bottom 12px
      img
        margin-right 6px
    .seller-info
      h1
        margin 0 18px
        padding 18px 0 12px 0
        border-1px(rgba(7,17,27,.1))
      .info-list
        font-size 12px
        font-weight 200
        color rgb(7,17,27)
        line-height 16px
        padding 16px 12px
        border-1px(rgba(7,17,27,.1))
        &:last-child
          border none


