@import "../../common/stylus/mixin.styl";
.goods
  display flex
  position absolute
  top 174px
  bottom 46px
  width 100%
  overflow hidden
  .menu-wrapper
    flex 0 0 80px
    margin-top 2px
    width 80px
    background #f3f5f7
    .menu-item-selected
      margin-top -1px
      font-weight 700
      background #fff
    .menu-item,.menu-item-selected
      display table
      position relative
      height 54px
      line-height 54px
      width 56px
      padding 0 12px
      &:last-child:after
        content none
    .menu-item:after
      position absolute
      content ''
      left 12px
      bottom 0
      width 56px
      border-bottom 1px solid rgba(7,17,27,0.1)
    .text
      display table-cell
      vertical-align middle
      font-size 12px
      font-weight 200
      white-space normal
      line-height 14px
      .iconMap
        vertical-align middle
  .foods-wrapper
    flex 1
    margin-top 2px
    .food-list
      h1
        padding-left 12px
        height 26px
        line-height 26px
        font-size 12px
        color rgb(147,153,159)
        background #f3f5f7
        border-left 2px solid #d9dde1
    .food-item
      display flex
      position relative
      margin 0 18px
      padding 18px 0
      //border-bottom 1px solid rgba(7,17,27,.1)
      border-1px(rgba(7,17,27,.1))
      .icon
        flex 0 0 57px
      &:last-child
        border-bottom none
      .content
        flex 1
        padding-left 10px
        h2
          margin 2px 0 8px 0
          height 14px
          line-height 14px
          font-size 14px
          font-weight 700
          color rgb(7,17,27)
        .description,.sell-info
          line-height 10px
          font-size 10px
          color rgb(147,153,159)
          .sellCount
            margin-right 4px
        .description
          margin-bottom 8px
          line-height 12px
        .price
          line-height 24px
          font-size 10px
          font-weight 700
          .newPrice
            font-size 14px
            color rgb(240,20,20)
            .unit
              font-size 10px
              font-weight normal
          .oldPrice
            padding-left 4px
            text-decoration line-through
            color rgb(147,153,159)


        .cartcontrol-wrapper
          position absolute
          right 0
          bottom 12px
          z-index 20
