@import "../../common/stylus/mixin.styl";
.ratingsWrapper
  position absolute
  top 174px
  bottom 0
  left 0
  width 100%
  overflow hidden
  .ratings-content
    .info
      display flex
      .mark
        flex 0 0 138px
        margin 18px 0
        border-right 1px solid rgba(7,17,27,.1)
        text-align center
        .num
          font-size 24px
          color rgb(255,153,0)
          line-height 28px
        .text
          padding 6px 0 8px 0
          font-size 12px
          color rgb(7,17,27)
          line-height 12px
        .contrast
          font-size 10px
          color rgb(7,17,27)
          line-height 10px
          margin-bottom 6px
      .stars
        padding 18px 24px
        .serviceScore,.foodScore,.deliveryTime
          display flex
          margin-bottom 8px
          .text
            font-size 12px
            color rgb(7,17,27)
            line-height 18px
            margin-right 12px
          .num
            font-size 12px
            line-height 18px
            color rgb(251,147,0)
            padding-left 12px
        .deliveryTime
          margin-bottom 0
          .time
            font-size 12px
            color rgb(147,153,159)
            line-height 18px
    .evaluation
      padding 18px 0
      position relative
      .classify
        padding-bottom 18px
        margin 0 18px
        //border-bottom 1px solid rgba(7,17,27,.1)
        border-1px(rgba(7,17,27,.1))
        .item
          display inline-block
          font-size 12px
          padding 8px 12px
          line-height 16px
          background rgba(0,160,220,.2)
          color rgb(77,85,95)
          margin-right 8px
          .count
            font-size 8px
            padding-left 2px
          &.active
            color white
            background rgb(0,169,220)
          &.bad
            background rgba(77,85,93,.2)
          &.badAcitve
            background #4d555d
      .switch
        font-size 12px
        width 100%
        padding 12px 0 12px 18px
        color rgb(147,153,159)
        //border-bottom 1px solid rgba(7,17,27,.1)
        border-1px(rgba(7,17,27,.1))
        .icon-check_circle
          font-size 24px
          vertical-align middle
          &.on
            color #00c850
      .evel-list
        .evel
          display flex
          padding 18px 0
          margin 0 18px
          //border-bottom 1px solid rgba(7,17,27,.1)
          border-1px(rgba(7,17,27,.1))
          .avatar
            flex 0 0 28px
            margin-right 12px
            img
              border-radius 50%
          .content
            flex 1
            .user
              font-size 10px
              color rgb(7,17,27)
              line-height 12px
              .rateTime
                position absolute
                font-weight 200
                right 18px
                color rgb(147,153,159)
            .star-wrapper
              font-size 0
              padding-top 4px
              margin-bottom 6px
              .star
                display inline-block
              .deliveryTime
                font-size 10px
                padding-left 6px
                font-weight 200
                color rgb(147,153,159)
            .text
              font-size 12px
              color rgb(7,17,27)
              line-height 18px
            .recommend
              padding-top 4px
              .icon
                line-height 16px
                font-size 12px
                color rgb(0,160,220)
              .dish
                display inline-block
                margin-top 4px
                padding 2px 6px
                margin-right 8px
                white-space normal
                border 1px solid rgba(7,17,27,.1)
                font-size 9px
                color rgb(147,153,159)
