.backdrop
  position fixed
  top 0
  bottom 0
  left 0
  right 0
  background rgba(7,17,27,.6)
  backdrop-filter blur(10px)
  z-index 40
  &.fade-backdrop-enter-active, &.fade-backdrop-leave-active
    transition opacity .5s
  &.fade-backdrop-enter-active, &.fade-backdrop-leave-active
    opacity 0
